.position{
    display: flex;
    margin-bottom: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
    
  
}
html{
    background-color: whitesmoke;
}
.card{
    height: 100%;
    transition-duration: 1s;
    
}
.card-footer{
    position: absolute;
    bottom: 1px;
    left: 40%;
    transition-duration: 1s;
}
.content{
    text-align: justify;
    padding-bottom: 20px;
    transition-duration: 1s;
}
.fab{
    color: red;
    transition-duration: 1s;
}
.fab:hover{
    color: blue ;
}